<nav class="w-full py-4 px-6 flex items-center justify-between link-reset border-b">
    <div class="">
        <a href="/" class="">{{ ux_icon('lucide:newspaper', { class: 'h-8 w-8' }) }}</a>
    </div>
    <div class="flex items-center gap-4">
        <a href="#" class="">Nouveautés</a>
        <a href="#" class="">Catégories</a>
        {% if app.user %}
            {% if app.user.articles|length > 0 %}
                <a href="" class="">Mes articles</a>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="">{{ ux_icon('lucide:user-circle', { class: 'h-4 w-4'}) }}</a>
            <a href="#" class="">S'inscrire</a>
        {% endif %}
    </div>
</nav>