<div{{ attributes }} class="">
    
    <label class="input mt-10 border">
        <twig:ux:icon name="lucide:search" class="w-5 h-5"/>
        <input type="text" data-model="query" class="grow" placeholder="Tapez un mot-clé..." />
    </label>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% set articles = this.articles %} {# Récupération des articles #}
        {% if articles|length > 0 %} {# S'il y a des articles #}
            {% for item in articles %} {# Pour chaque article #}
                <a href="{{ path('article', {'slug': item.slug}) }}" class="col-span-1 shadow bg-white border-l-2 border-slate-400 rounded-md p-4 grid grid-rows-3 h-44 hover:shadow-xl transition duration-300 ease-in-out">
                    <p class="row-span-1 flex items-center justify-center gap-2 text-sm hover:text-violet-950">
                        <twig:ux:icon name="lucide:clock" class="w-3 h-3"/>
                        Publié il y a {{ item.createdAt|time_diff }}
                    </p>
                    <h3 class="row-span-2">{{ item.title }}</h3>
                </a>
            {% endfor %}
        {% else %} {# Sinon #}
            <p>Aucun article correspondant</p>
        {% endif %}
    </div>

</div>
